# Estructuras de Control
## Docente Gustavo Humberto Polanía Mogollón

# Bucle FOR
### Un bucle for es un bucle que repite el bloque de instrucciones un número predeterminado de veces. El bloque de instrucciones que se repite se suele llamar cuerpo del bucle y cada repetición se suele llamar iteración.

In [1]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [3]:
lista = [1, "Gustavo", 1+3j, 45.89, ["Polanía", 39, 5+8j]]
for iteracion in lista:
    print(f"El elemento {iteracion} es del tipo de dato {type(iteracion)}")

5
El elemento 1 es del tipo de dato <class 'int'>
El elemento Gustavo es del tipo de dato <class 'str'>
El elemento (1+3j) es del tipo de dato <class 'complex'>
El elemento 45.89 es del tipo de dato <class 'float'>
El elemento ['Polanía', 39, (5+8j)] es del tipo de dato <class 'list'>

In [4]:
lista1 = [[1, 2, 3], ["Gustavo", "Humberto", "Polanía"], [45.6, 89,4, 36.8]]
for i in lista1:
    for j in i:
        print(j)

1
2
3
Gustavo
Humberto
Polanía
45.6
89
4
36.8

In [1]:
texto = "Python"
print(texto)

Python

In [2]:
texto = "Python"
for i in texto[::2]:
    print(i)

P
t
o

### Recorrer Listas

In [4]:
lista = [[56, 34, 1],
         [12, 4, 5],
         [9, 4, 3]]
print(lista)

[[56, 34, 1], [12, 4, 5], [9, 4, 3]]

In [5]:
for i in lista:
    print(i)

[56, 34, 1]
[12, 4, 5]
[9, 4, 3]

In [6]:
for i in lista:
    for j in i:
        print(j)

56
34
1
12
4
5
9
4
3

In [18]:
lista = ["A", "B", "C"]
for indice, valor in enumerate(lista):
    print(indice, valor)

print(indice,valor)

for valor in lista:
    contador =+ 0
    print(contador, lista)

0 A
1 B
2 C
2 C
0 ['A', 'B', 'C']
0 ['A', 'B', 'C']
0 ['A', 'B', 'C']

### Recorrer Tuplas

In [16]:
tupla = ("apple", "banana", "cherry", 45, 89.25)
for i in tupla:
    print(i)
    print(type(i))

apple
<class 'str'>
banana
<class 'str'>
cherry
<class 'str'>
45
<class 'int'>
89.25
<class 'float'>

In [17]:
tupla = ("apple", "banana", "cherry", 45, 89.25)
for indice, valor in enumerate(tupla):
    print(indice, valor)

0 apple
1 banana
2 cherry
3 45
4 89.25

### Recorrer Diccionarios

In [19]:
gandalf = {'Nombre':'Gandalf','Clase':'Mago','Raza':'Humano'}

print(gandalf)

{'Nombre': 'Gandalf', 'Clase': 'Mago', 'Raza': 'Humano'}

In [20]:
print(gandalf["Clase"])

Mago

In [22]:
for x in gandalf:   #Imprime las claves
    print(x)

Nombre
Clase
Raza

In [21]:
for x in gandalf:   #Imprime los valores
    print(gandalf[x])

Gandalf
Mago
Humano

In [25]:
print(gandalf.items())
for x, y in gandalf.items():
    print(x, y)

dict_items([('Nombre', 'Gandalf'), ('Clase', 'Mago'), ('Raza', 'Humano')])
Nombre Gandalf
Clase Mago
Raza Humano

## USO DEL RANGE
### El range() genera una secuencia de números que van desde 0 por defecto hasta el número que se pasa como parámetro menos 1.

### range(inicio, fin, salto)

In [26]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [48]:
#for i in range(0, 6):
 #   print(i)

numero = int(input("ingrese un numero"))
for i in range(1,11):
    print(numero,"x",i,"=",numero*i)

ingrese un numero 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
a = 10
for i in range(0,a):
    print(i)

In [ ]:
for i in range(5, 20, 2):
    print(i)

In [ ]:
for i in range (5, 0, -1):
    print(i)

In [ ]:
lista = [[2, 3, 4], [5, 6, 7]]
for i in lista:
    print(i)
    for j in i:
        print(j)

## List comprehensions
### La “list comprehensions” o compresión de listas ofrecen una sintaxis más corta cuando desea crear una nueva lista basada en los valores de una lista existente.

In [ ]:
cuadrados = [i**2 for i in range(5)]
for i in range(5):
    print(i)
print(cuadrados)

In [ ]:
lista = [10, 20, 30, 40 , 50]
nueva_lista = [i/10 for i in lista]
print(nueva_lista)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "e" in x]
print(newlist)

In [ ]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

In [ ]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

## Ejemplo
### Crear una nueva lista llamada newlist, partiendo de la lista list, en donde guarde el cuadrado de los números pares y guarde el mismo número de los números impares.

In [ ]:
import math
list = [2, 3, 4, 5, 6, 7, 8, 9, 10]
newlist = [math.pow(x, 2) if x%2 == 0 else x for x in list]
print(newlist)

## Ejercicio

In [ ]:
lista = [2, 3, 4, 5, 10, 11, 16, 21]

In [ ]:
import math

resultado = [math.pow(x, 2) if x%2 == 0 else math.pow(x, 3) for x in lista]

print(resultado)